/JZ.API/bin
/JZ.API/obj
/JZ.APIServer/bin
/JZ.APIServer/obj
/JZ.Cache/obj
/JZ.Cache/bin
/JZ.Interfaces/obj
/JZ.Interfaces/bin
/JZ.Loger/obj
/JZ.Loger/bin
/JZ.ModelExts/obj
/JZ.ModelExts/bin
/JZ.Models/obj
/JZ.Models/bin
/JZ.Repository/obj
/JZ.Repository/bin
/JZ.Server/obj
/JZ.Server/bin
/JZ.T4/obj
/JZ.T4/bin
/JZ.Test/obj
/JZ.Test/bin
/JZ.Tools/obj
/JZ.Tools/bin
/packages
